<!-- <div id="container">
  <div id="content">
    <div style="width: 80%; margin-left: auto; margin-right: auto;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut augue sit
      amet risus tempus mollis. Maecenas sit amet fermentum felis. Ut feugiat
      dui eu velit rhoncus, a consectetur urna semper. Duis venenatis eros diam,
      vitae elementum mauris tincidunt vitae. Quisque commodo nibh sapien, at
      tempor lectus pulvinar sit amet. Nullam dictum aliquam purus in cursus.
      Etiam porta leo quam, sed pretium nibh placerat a. Nunc convallis dui
      purus, at suscipit ex porta et. Praesent et nulla vel dui placerat
      faucibus. Quisque laoreet ipsum in sem eleifend vulputate. Suspendisse non
      laoreet felis. Donec vestibulum auctor convallis. Duis eget justo sapien.
      Maecenas nibh ipsum, scelerisque non nulla sit amet, viverra elementum
      nulla. Sed posuere faucibus odio sit amet vulputate. Sed eleifend in nisi
      id interdum. Pellentesque condimentum quam ultrices, dignissim dui nec,
      dictum quam. Nulla facilisi. Proin eleifend cursus euismod. Proin rhoncus
      nisi elit, quis aliquam augue eleifend a. Fusce tristique libero vitae
      justo pulvinar blandit. Quisque fringilla varius metus eu feugiat. Duis
      viverra, est vitae suscipit posuere, dolor sapien tempus nisl, non semper
      massa metus a nibh. Nunc sed nisl lacus. Sed congue dignissim iaculis. Sed
      varius dui sit amet ipsum pretium porta. Aliquam ac porttitor magna. Morbi
      mattis vehicula molestie. Class aptent taciti sociosqu ad litora torquent
      per conubia nostra, per inceptos himenaeos. Vivamus sollicitudin feugiat
      magna a congue. Sed maximus arcu dolor, at fermentum arcu lacinia vel. Sed
      erat neque, pulvinar eu commodo eu, lobortis sodales felis. Pellentesque
      sollicitudin, augue vel placerat tincidunt, elit mauris vulputate ex, ut
      pretium purus leo a est. Quisque porttitor feugiat laoreet. Fusce
      vestibulum sapien et hendrerit lobortis. Nunc ornare quam sit amet lacus
      tempus ornare. Pellentesque in rutrum libero. Vivamus vitae elit sed elit
      commodo elementum aliquet at diam. Nullam viverra felis in felis ultricies
      lacinia. Mauris nec pellentesque ipsum, non vestibulum diam. Mauris
      tristique vulputate nulla eget ornare. Sed vestibulum est eu mauris
      elementum lobortis. Etiam mattis nunc sit amet lobortis sodales. Aenean at
      ante tortor. Suspendisse elit purus, pharetra quis porta quis, vestibulum
      non dolor. Vestibulum vehicula urna eu sapien sodales ultricies. Cras sit
      amet tempor ligula. Donec finibus, lorem eu rutrum auctor, diam tellus
      dignissim sapien, non pulvinar arcu dui vel libero. Maecenas sit amet
      tempus diam. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos. Phasellus ultricies nisl nec fermentum
      pellentesque. Ut non est euismod, fringilla purus ac, elementum risus.
      Morbi convallis semper lorem blandit pretium. Phasellus ultricies magna
      justo, commodo efficitur nulla porttitor in. Morbi sed ligula eleifend,
      dictum ante in, facilisis ipsum. Donec purus purus, suscipit non orci ac,
      tincidunt pretium elit. Praesent eget turpis justo. Nunc lacinia lectus ut
      mauris imperdiet vehicula. Vivamus sodales enim a magna cursus, eu laoreet
      arcu ornare. Aliquam sit amet ante facilisis magna facilisis ornare.
      Aenean sapien mauris, bibendum quis auctor ac, aliquam ac orci. Nam in
      ullamcorper dolor, et efficitur dolor. Suspendisse nec aliquam nulla, id
      bibendum est.
    </div>
  </div>
</div> -->

<!-- our parallax stuff -->
<div appParallax id="background" [ratio]="0.15">
  <img src="../../assets/images/food_background.jpg" alt="alt" />
</div>
<!-- <div appParallax [ratio]="-0.2" id="square"></div>
<div appParallax [ratio]="0.5" id="circle"></div>
<div appParallax [ratio]="0.9" id="rectangle"></div> -->
